{
  "presets": ["env"],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul", {
            "exclude": [
              "app/test/"
            ]
          }
        ]
      ]
    }
  }
}
