{
  "exclude": [
    "app/test/",
    "node_modules/"
  ],
  "report-dir": "app/coverage",
  "check-coverage": true,
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "reporter": [
    "lcov",
    "text"
  ],
  "require": [
    "babel-register",
    "babel-polyfill"
  ],
  "sourceMap": false,
  "instrument": false
}
