export default {
  apiKey: '{{config.apiKey}}',
  authDomain: '{{config.authDomain}}',
  databaseURL: '{{{config.databaseURL}}}',
  storageBucket: '{{config.storageBucket}}',
  messagingSenderId: '{{config.messagingSenderId}}',
};
